body {
  background-color: #000000;
  padding-top: 2%;
}

.cont {
  border: 5px solid red;
  border-radius: 25px;
	box-shadow: 1px 1px 4px 4px rgba(1, 1, 1, 0.06); 
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 35px;
  color: #ffffff;
}

Button:hover {
  cursor: pointer;
}

.grid .box:hover {
  cursor: -webkit-grab; 
  cursor: grab;
  background: #808000;
}
